body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #848871;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

.pen-logo {
  height: 45px;
  width: 45px;
}

.login-photo {
  width: 45%;
  height: 100vh;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  margin-left: 200px;
   input {
    padding: 70px 90px 0px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 20px;
    &::placeholder {
      color: white;
      font-weight: bolder;
      font-size: 20px;
    }
    &:focus {
      outline: none;
    }
  }
}

.auth {
display: flex;
flex-direction: column;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}

button {
  background-color: #262B15;
  color: white;
  padding: 17px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 50px;
  cursor: pointer;
}

.form-title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #AFB4AD;
  font-size: 25px;
  align-items: center;
}